<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="test" />
  </connectionStrings>
  <appSettings>
    <!--<add key="DB" value="iWgml0r9RPA=" />-->
    <!--<add key="DB" value="p+40+vCrSD0=" />SV-->
    <add key="DB" value="iWgml0r9RPA=" />
    <add key="SV" value="qpNtcdeWZWjAqBCOZ6jrhQ==" />
    <add key="WP" value="F9lSrI/PCCE=" />
    <add key="CL" value="9mg4xNGlaQj6fVbQ8snk9Q==" />
    <add key="PT" value="53ScObfiytlSrOXufkYUEWIdDZFLXoF0" />
    <add key="32" value="wkjMc3RhDMdX2Tk20rrJdg==" />
    <add key="FT" value="9EGrB5A7Kp16ikN+nrsJlg==" />
    <add key="BK" value="E:\SQL_DB\MSSQL10.MSSQLSERVER\MSSQL\BACKUP\" />
    <!--LUNA SETTINGS-->
    <add key="DALPROJECTNAMEHERE.LUNA.ShareConnection" value="False"/>
    <add key="DALPROJECTNAMEHERE.LUNA.DisableLazyLoading" value="False"/>      
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.ProviderFactory" value="System.Data.SqlClient"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Advance" value="LUNADAO.AdvanceDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Aloans" value="LUNADAO.AloansDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Ctrl_s" value="LUNADAO.Ctrl_sDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Divref" value="LUNADAO.DivrefDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Extkbc" value="LUNADAO.ExtkbcDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Extract" value="LUNADAO.ExtractDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Interest" value="LUNADAO.InterestDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Interest_s" value="LUNADAO.Interest_sDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Members" value="LUNADAO.MembersDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Param_s" value="LUNADAO.Param_sDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Rnterest" value="LUNADAO.RnterestDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sd" value="LUNADAO.SdDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdcheck" value="LUNADAO.SdcheckDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdedbal" value="LUNADAO.SdedbalDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdmaster" value="LUNADAO.SdmasterDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdoption" value="LUNADAO.SdoptionDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdothers" value="LUNADAO.SdothersDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdpay" value="LUNADAO.SdpayDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdpost" value="LUNADAO.SdpostDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdtran" value="LUNADAO.SdtranDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Sdtranb" value="LUNADAO.SdtranbDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Snterest" value="LUNADAO.SnterestDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Spteller" value="LUNADAO.SptellerDAO"/>
    <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Spuser" value="LUNADAO.SpuserDAO"/>
	</appSettings>  
</configuration>